/* SideBar */

#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    background-color: #2B3A75;
    widows: 0;
    height: 100%;
    overflow-y: hidden;
    border-right: 1px solid white;
    width: 10%;
}

#sidebar-logo {
    background: #1C2856;
    color: grey;
    font-family: 'Mr Dafoe', cursive;
    text-align: center;
    padding-top: 25%;
    padding-bottom: 25%;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
}

#sidebar-wrapper li {
    overflow: hidden;
    background: #1C2856;
}

#siderbar-nav li {
    background: red;
}


/* Main Content*/

#main-content-wrapper {
    width: 100%;
    position: absolute;
    padding-left: 11.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #303640;
}


/* Show the Sidebar */

#wrapper.toggled #sidebar-wrapper {
    width: 10%;
}

#wrapper.toggled #main-content-wrapper {
    padding-left: 11.5%;
}

.sidebar-nav {
    padding: 0;
    padding-top: 10%;
    list-style: none;
}

.sidebar-nav li {
    max-width: 85%;
    text-align: center;
    line-height: 60px;
    border-right: 0.03px solid #707070;
    border-top: 0.03px solid #707070;
    border-bottom: 0.03px solid #707070;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ddd;
}

.sidebar-nav li a:hover {
    background: black;
    color: red
}