    // Vars
    $timeline-color: red;
    // Mixin
    @mixin prefix($prop, $val) {
        @each $prefix in '-webkit-',
        '-moz-',
        '-ms-',
        '' {
            #{$prefix}#{$prop}: $val;
        }
    }
    
    *,
    *:before,
    *:after {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    
    %clearfix {
        &:after,
        &:before {
            content: '';
            display: block;
            width: 100%;
            clear: both;
        }
    }
    
    // 
    body {
        /* background-image: linear-gradient(direction, color-stop1, color-stop2, ...); */
        background-image: -webkit-gradient(linear, right bottom, left top, from(#2F3640), color-stop(#192A56), to(#353B48));
        background-image: linear-gradient(to top left, #2F3640, #192A56, #353B48);
    }
    
    .topBar {
        color: #f5f6fa;
        padding: 20px;
        text-align: center;
    }
    
    .navBar {
        /* padding: 100px; */
        list-style: none;
    }
    
    .navBar li {
        background: red;
    }
    
    .mainBox {
        margin-top: 15%;
        margin-left: 25%;
        width: 50%;
    }
    /* Section : Main content */
    
    .inner {
        -webkit-box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0);
        background: rgba(56, 255, 255, 0);
        -webkit-box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.5);
        box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 5%;
        background-clip: padding-box;
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 3%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        z-index: -1;
        color: black;
        margin-top: 10%;
        overflow: hidden;
    }
    
    .LC {
        width: 50%;
        height: 200px;
        background: rgba(56, 255, 255, 0);
        float: left;
        text-align: center;
    }
    
    .LC ul {
        margin-top: 10px;
        /* list-style: none; */
    }
    
    ul {
        list-style: none;
        display: inline-block;
    }
    
    .RC {
        margin-left: 55%;
        height: 200px;
        background: rgba(56, 255, 255, 0);
        text-align: center;
        border-left: solid silver 1px;
    }
    
    .RC img {
        border-radius: 50%;
        width: 200px;
    }
    
    .mecontent {
        height: 100%;
    }
    /* Content Section */
    
    .projsec {
        height: 100%;
    }
    
    .projsec h1 {
        color: white;
        text-align: center;
        margin-bottom: -5%;
    }
    
    .projsec .item img {
        /* border-radius: 50%; */
        width: 150px;
        margin-bottom: 10%;
        -webkit-box-shadow: 0 2px 25px 0 black;
        box-shadow: 1 2px 5px 0 black;
    }
    
    .projsec .item {
        -ms-flex-line-pack: center;
        align-content: center;
        color: pink;
        margin-bottom: 5%;
    }
    
    .item a {
        color: white;
    }
    
    .projsec .footer {
        background: white;
        color: red;
        width: 450vw;
    }
    /* Education section */
    
    .edusec {
        overflow: hidden;
        height: 100%;
        color: white;
        text-align: center;
        .inner {
            height: inherit;
        }
        .innerCard {
            display: inline-block;
            width: 50%;
            height: 750px;
            &.right {
                float: right;
            }
        }
    }
    
    .skillsec {
        height: 100%;
        overflow: hidden;
        h1 {
            color: white;
            &:before {
                width: 3px;
                height: 100%;
                background: $timeline-color;
                left: 50%;
                top: 0;
                position: absolute;
            }
        }
        .inner {
            margin-top: 500px;
        }
    }
    
    // Time line section
    #timeline {
        width: 100%;
        margin: 30px auto;
        position: relative;
        padding: 0 10px;
        @include prefix(transition, all .4s ease);
        &:before {
            content: "";
            width: 3px;
            height: 100%;
            background: $timeline-color;
            left: 50%;
            top: 0;
            position: absolute;
        }
        &:after {
            content: "";
            clear: both;
            display: table;
            width: 100%;
        }
    }
    
    .event {
        margin-bottom: 50px;
        position: relative;
        @extend %clearfix;
        .event-icon {
            background: $timeline-color;
            width: 50px;
            height: 50px;
            position: absolute;
            top: 0;
            left: 50%;
            overflow: hidden;
            margin-left: -23px;
            @include prefix(border-radius, 50%);
            svg {
                position: relative;
                top: 14px;
                left: 14px;
            }
        }
        .event-content {
            width: 45%;
            background: #fff;
            padding: 20px;
            @include prefix(box-shadow, 0 3px 0 rgba(0, 0, 0, 0.1));
            @include prefix(border-radius, 5px);
            @include prefix(transition, all .3s ease);
            h2 {
                padding: 15px;
                background: $timeline-color;
                color: #fff;
                margin: -20px -20px 0 -20px;
                font-weight: 300;
                @include prefix(border-radius, 3px 3px 0 0);
            }
            &:before {
                content: '';
                position: absolute;
                left: 45%;
                top: 20px;
                width: 0;
                height: 0;
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
                border-left: 7px solid $timeline-color;
            }
            &.right {
                float: right;
                &:before {
                    content: '';
                    right: 45%;
                    left: inherit;
                    border-left: 0;
                    border-right: 7px solid $timeline-color;
                }
            }
        }
    }